- name: Download argocd-linux-amd64 binary
  ansible.builtin.get_url:
    url: "https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64"
    dest: /tmp/argocd-linux-amd64
    mode: '0755'
- name: Install argocd-linux-amd64 binary
  ansible.builtin.command: >
    install -m 0755 /tmp/argocd-linux-amd64 /usr/local/bin/argocd
  args:
    creates: /usr/local/bin/argocd
- name: Remove temp argocd binary
  ansible.builtin.file:
    path: /tmp/argocd-linux-amd64
    state: absent
