- name: Download argocd-linux-amd64 binary
  ansible.builtin.get_url:
    url: "https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64"
    dest: "~/argocd-linux-amd64"
    mode: "0755"
- name: Install argocd-linux-amd64 binary
  shell: install -m 555 ~/argocd-linux-amd64 /usr/local/bin/argocd
- name: Remove argocd-linux-amd64 binary
  ansible.builtin.file:
    path: "~/argocd-linux-amd64"
    state: absent
