- name: Get Kubernetes contexts
  shell: kubectl config get-contexts -o name
  register: kubectl_contexts_output
- name: Store the context name in a variable
  set_fact:
    context_name: "{{ kubectl_contexts_output.stdout }}"
- name: Add the context to the argocd cluster
  shell: /usr/local/bin/argocd cluster add "{{ context_name }}" -y
  ignore_errors: yes
