- name: Wait for 30 seconds before getting initial password
  pause:
    seconds: 30
    
- name: Get Argo CD initial admin secret via k8s_info
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: argocd-initial-admin-secret
    namespace: argocd
  register: argocd_secret

- name: Set Argo CD admin password fact
  ansible.builtin.set_fact:
    argo_password: >-
      {{
        argocd_secret.resources[0].data.password
        | b64decode
      }}
    
- name: Login into argo-cd
  shell: argocd login 192.168.100.150:32000 --username admin --password {{ argo_password }} --insecure
  
- name: Update the password
  shell: argocd account update-password --current-password {{ argo_password }} --new-password Welcome@123 --insecure
